<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>View companiess</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div th:replace="admin/header"></div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <table class="table table-striped">
            <thead>
            <tr>
                <td scope="col">ID</td>
                <td scope="col">Company name</td>
                <td scope="col">CVR</td>
                <td scope="col">Contact name</td>
                <td scope="col">Contact phone</td>
                <td scope="col">Company city</td>
                <td scope="col">Country</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="companies : ${companies}">
                <td th:text="${companies.id}"></td>
                <td th:text="${companies.companyName}"></td>
                <td th:text="${companies.cvr}"></td>
                <td th:text="${companies.firstName + ' ' +companies.lastName}"></td>
                <td th:text="${companies.phoneNumber}"></td>
                <td th:text="${companies.city}"></td>
                <td th:text="${companies.country}"></td>
                <td>
                    <a th:href="@{'/admin/edit/company/' + ${companies.id}}" class="btn btn-outline-warning">Edit</a>
                    <a th:href="@{'/admin/verify/declined/' + ${companies.id}}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>