<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" id="nav_top">
    <a class="navbar-brand" href="/admin/verify"><img src="../../../LogoMakr_7h8Lh3.png" height="65" width="125"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin/verify">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/admin/customers/view">Customers</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/admin/companies/view">Companies</a>
            </li>
        </ul>
        <div class="nav-item active">
            <div class="nav-item dropdown btn-group dropleft">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false" th:text="${admin.firstName} + ' ' + ${admin.lastName}"></a>
                <div class="dropdown-menu" style="width: 18rem;">

                    <br>
                    <div align="center">
                        <i class="fas fa-user fa-9x"></i>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${admin.firstName} + ' ' + ${admin.lastName}"></h5>
                            <p class="card-text" th:text="${admin.email}"></p>
                            <p class="card-text" th:text="${admin.city} + ', ' + ${admin.zipcode}"></p>
                        </div>
                    </div>
                    <div align="left">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>

            </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
    </span>
    </div>
</nav>

</body>
</html>