<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Offers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Offers <br><a href="/offer/create" class="btn btn-outline-primary">Add new offer</a>
        </h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <td scope="col">ID</td>
                <td scope="col">Item name</td>
                <td scope="col">Quantity</td>
                <td scope="col">Start date</td>
                <td scope="col">End date</td>
                <td scope="col">Price pr. item</td>
                <td scope="col">Active</td>
                <td scope="col">Picture URL</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${company.offerList}">
                <td th:text="${company.id}"></td>
                <td th:text="${offer.name}"></td>
                <td th:text="${offer.quantity}"></td>
                <td th:text="${offer.startDate}"></td>
                <td th:text="${offer.endDate}"></td>
                <td th:text="${offer.price}"></td>
                <td th:text="${offer.active}"></td>
                <td th:text="${offer.pictureUrl}"></td>

                <td>
                    <a th:href="'/offer/edit/' + ${offer.id}" class="btn btn-outline-warning"> Edit </a>
                    <a th:href="@{'/offer/delete/'+${offer.id}}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>