<!--
* Created by Matthias Skou 3/12/2018
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Company</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
<div th:replace="Company/header"></div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" th:text="'Welcome ' + ${company.companyName} + '!'">
        </h1>
        <br><br>
        <div class="card-group">
            <div class="card" align="center">
                <br>
                <i class="fas fa-utensils fa-9x" href="/offer"></i>
                <div class="card-body">
                    <a class="btn btn-secondary btn-lg" href="/offer">My offers</a>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card" align="center">
                <br>
                <i class="fas fa-plus fa-9x" href="/offer/create"></i>
                <div class="card-body">
                    <a class="btn btn-secondary btn-lg" href="/offer/create">Create offer</a>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card" align="center">
                <br>
                <i class="fas fa-chart-pie fa-9x" href="/company/statistics"></i>
                <div class="card-body">
                    <a class="btn btn-secondary btn-lg" href="/company/statistics">Statistics</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>